    <footer>

        <h3>Made with NodeJs, Mustache and Express</h3>
        <a target=_blank href=https://www.linkedin.com/in/rafael-carrenho-taranto-87a494231>
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
    </footer>
    
</body>
</html>